main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px;
  padding: 10px;
  gap: 20px;
}
button {
  padding: 10px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 3px;
}
.btn-modal {
  background: #6f5fffbe;
}
.btn-salvar {
  background: #13ce66;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.btn-Editar {
  background: #13ce67fd;
  cursor: pointer;
}
.btn-Excluir {
  background: #ff4949;
  cursor: pointer;
}
.btn-salvar:hover {
  background: #13ce6746;
}
.btn-Editar:hover {
  background: #13ce6746;
}
.btn-Excluir:hover {
  background: #ff49494f;
}
.btn-modal:hover {
  color: black;
  background: #6f5fff3a;
}
.btn-fechar {
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.btn-fechar:hover {
  background: #ff4949;
}
.modal01 {
  position: relative;
  margin: auto;
  border-radius: 2px;
  padding: 10px;
  width: 800px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 1em black;
  margin-top: 230px;
}
.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  top: 0px;
  left: 0px;
}
.content {
  height: 100%;
  margin-top: 4px;
  border-spacing: 4px;
  width: 100%;
  user-select: none;
}
.contentStyle {
  padding: 10px;
  border-radius: 3px;
  color: white;
  background-color: #6f5fffbe;
  text-align: left;
}
th {
  border-radius: 3px;
}
.content td {
  height: auto;
  padding-left: 10px;
}
.content tbody > tr:hover {
  background: #6f5fff33;
}
body {
  font-family: Verdana, sans-serif;
}
header h1 {
  text-align: center;
  background-color: #6f5fffbe;
  color: white;
}
